[package]
name = "shabal"
version = "0.3.0"
description = "Shabal hash functions"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"
documentation = "https://docs.rs/shabal"
repository = "https://github.com/RustCrypto/hashes"
keywords = ["crypto", "shabal", "hash", "digest"]
categories = ["cryptography", "no-std"]

[dependencies]
digest = { version = "0.10.0-pre.3", features = ["core-api", "block-padding"] }

[dev-dependencies]
digest = { version = "0.10.0-pre.3", features = ["dev"] }
hex-literal = "0.2"

[features]
default = ["std"]
std = ["digest/std"]
